#img_logo {
    margin-top: 10px;
    margin-left: 50px;
    width: 220px;
}


a{
    text-decoration: none;
    display: inline;
}



a:hover {
    color: rgb(49, 153, 49);
}

.container {
    text-align: center;
    width: 100%;
    margin: 45px auto;
    padding: 50px;
}

#titu_1{
    text-align: center;
    margin-top: 50px;
}

#btn_submit_1{
    text-align: center;
}

